HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### HSQLDB ###
database/hsqldb/build/
database/hsqldb/data/
database/hsqldb/doc/
database/hsqldb/src/
database/hsqldb/testrun/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.lck
node_modules
coverage
docs/build
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
database/hsqldb/build/antivy-setup.xml
database/hsqldb/build/build-dist.gradle
database/hsqldb/build/build-dist.xml
database/hsqldb/build/build-docbook.xml
database/hsqldb/build/build.gradle
database/hsqldb/build/build.hsqldb.cmd
database/hsqldb/build/build.hsqldbtest.cmd
database/hsqldb/build/build.javadoc.cmd
database/hsqldb/build/build.sqltool.cmd
database/hsqldb/build/build.test.suite.cmd
database/hsqldb/build/build.xml
database/hsqldb/build/cfdistro.bash
database/hsqldb/build/clean.test.suite.cmd
database/hsqldb/build/dbuInstallSheetsWrapper.groovy
database/hsqldb/build/dependencies.gradle
database/hsqldb/build/DocBookUtil.groovy
database/hsqldb/build/gradle/wrapper/gradle-wrapper.jar
database/hsqldb/build/gradle/wrapper/gradle-wrapper.properties
database/hsqldb/build/gradlew
database/hsqldb/build/gradlew.bat
database/hsqldb/build/gui-initial.setting
database/hsqldb/build/gui-welcome.txt
database/hsqldb/build/hsqldb.bnd
database/hsqldb/build/ivy.xml
database/hsqldb/build/ivysettings-sample.xml
database/hsqldb/build/jdkcodeswitch.list
database/hsqldb/build/mvn-pub.gradle
database/hsqldb/build/rng-catalog-template.xml
database/hsqldb/build/run.test.suite.cmd
database/hsqldb/build/setenv.cmd
database/hsqldb/build/settings.gradle
database/hsqldb/build/test.dbmd.convert.properties
database/hsqldb/build/test.properties
database/hsqldb/build/test.xml
target/classes/application.properties
target/classes/com/uniovi/controllers/CustomErrorController.class
target/classes/com/uniovi/controllers/HomeController.class
target/classes/com/uniovi/entities/AppUser.class
target/classes/com/uniovi/WiqEs04bApplication.class
target/classes/static/css/custom.css
target/classes/templates/error.html
target/classes/templates/fragments/footer.html
target/classes/templates/fragments/head.html
target/classes/templates/fragments/nav.html
target/classes/templates/index.html
/database/hsqldb/bin/test.log
/database/hsqldb/bin/test.properties
/database/hsqldb/bin/test.script
