<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<link th:href="@{/css/game.css}" rel="stylesheet" type="text/css"/>
<nav th:replace="~{fragments/nav}"></nav>
<p class="points text-right mr-3">
    <span class="" th:text="#{game.points}"></span>
    <b class="" th:inline="text" th:text="${session.gameSession.score}"></b>
</p>
<div id="gameFrame" th:replace="~{/game/fragments/gameFrame}"></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>