<link th:href="@{/css/multiplayer.css}" rel="stylesheet" type="text/css"/>
<div class="container" style="text-align: center">

    <h2 id="finishedGame" th:text ="#{multi.finished}">  </h2>

    <h3 th:text ="#{multi.code}">  </h3>
    <code id="lobbyCode" th:text="${code}"></code>

    <h3 id="multiPoints" th:text ="#{multi.points}"> </h3>
    <ul id="playerList">
        <li th:each="player : ${players}"></li>
    </ul>

    <script>
        $(document).ready(function () {
            $(".points").remove();
            $(".questionCounter").remove();
        });

        $(document).ready(function() {
            function updatePlayerList() {
                const code = [[${code}]];
                $.ajax({
                    url: '/game/multiFinished/' + code,
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        $('#playerList').empty();
                        $.each(response, function(playerName, playerPoints) {
                            $('#playerList').append('<li><span class="playerName">' + playerName + '</span>: <span class="playerStatus">' + playerPoints + '</span></li>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al actualizar la lista de jugadores:', error);
                    }
                });
            }
            setInterval(updatePlayerList, 1000);
        });
    </script>

</div>