<!-- footer.html -->
<footer class="footer bg-primary mt-auto">
  <div class="container">
    <!-- Navigation Menu to the left -->
    <div class="row">
      <div class="col-md-4">
        <nav class="nav flex-column">
          <a class="nav-link text-white" href="/api">API docs</a>
        </nav>
      </div>

      <!-- Centered Copyright Notice -->
      <div class="col-md-4 text-center">
        <span class="text-white" th:text="#{footer.copyright}"></span>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</footer>


