<!-- question_fragment.html -->
<div class="container mx-auto">
    <h2 th:text="${question.statement}"></h2>

    <div class="d-flex flex-wrap mx-auto">
        <div class="btn-group">
            <!-- Utiliza un btn-group para agrupar los botones de respuesta -->
            <button class="btn btn-primary flex-item m-2 rounded" th:each="answer : ${question.options}" th:value="${answer}" th:text="${answer.text}"></button>
            <!-- Agregado m-2 para añadir margen entre los botones -->
        </div>
    </div>
</div>