<h2 th:text="#{ranking.title}">Ranking</h2>
<table class="ranking-table">
    <thead>
    <tr>
        <th th:text="#{ranking.position}">Posición</th>
        <th th:text="#{ranking.player}">Jugador</th>
        <th th:text="#{ranking.score}">Puntuación</th>
    </tr>
    </thead>
    <tbody>

    <!-- Now iterate through the playerScores map to display the final rankings -->
    <tr th:each="player, iertStat : ${ranking}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${player.key.getUsername()}"></td>
        <td th:text="${player.value}"></td>
    </tr>
    </tbody>
</table>
