<h2 th:text="#{ranking.title}">Ranking</h2>
<table class="ranking-table">
    <thead>
    <tr>
        <th th:text="#{ranking.position}">Posición</th>
        <th th:text="#{ranking.score}">Puntuación</th>
        <th th:text="#{ranking.date}">Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game, iterStat : ${ranking}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${game.score}"></td>
        <td th:text="${#dates.format(game.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
    </tr>
    </tbody>
    <!--<footer th:replace="fragments/pagination"/>-->
</table>