/* Sticky footer styles-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

/* style.css */

/* Estilo para el contenedor principal */
.container {
    max-width: 960px; /* Ancho máximo del contenido */
    margin: 50px auto; /* Centrar el contenido y agregar un margen superior e inferior */
}

/* Estilo para los títulos */
h2 {
    color: #283048; /* Color de texto azul oscuro */
}

/* Estilo para los títulos */
h3 {
    color: #283048; /* Color de texto azul oscuro */
}

/* Estilo para las etiquetas 'span' dentro de los párrafos */
p span {
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los campos de entrada */
.form-control {
    border: 1px solid #ced4da; /* Borde gris */
    border-radius: 4px; /* Borde redondeado */
    padding: 10px; /* Agregar relleno */
}

/* Estilo para los labels */
.control-label {
    color: #283048; /* Color de texto azul oscuro */
}

/* Estilo para los mensajes de error */
.text-danger {
    color: #721c24; /* Color de texto rojo oscuro */
}

/* Estilo para el botón de envío */
.btn-primary {
    background-color: #283048; /* Color de fondo azul oscuro */
    border-color: #283048; /* Color del borde */
    color: #fff; /* Texto blanco */
    padding: 10px 20px; /* Agregar relleno */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Estilo para el botón de envío al pasar el ratón */
.btn-primary:hover {
    background-color: #1c2530; /* Color de fondo azul más oscuro */
    border-color: #1c2530; /* Color del borde más oscuro */
}





/* Agrega estilos para la clase ranking-table */
.ranking-table {
    width: 100%; /* Ajusta el ancho de la tabla según sea necesario */
    border-collapse: collapse; /* Colapsar bordes de celda */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

/* Estilo para las celdas de la tabla */
.ranking-table th, .ranking-table td {
    border: 1px solid #ddd; /* Borde de celda */
    padding: 8px; /* Añade relleno a las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilo para el encabezado de la tabla */
.ranking-table th {
    background-color: #f2f2f2; /* Color de fondo gris claro para el encabezado */
}

/* Estilo para las filas impares de la tabla */
.ranking-table tr:nth-child(odd) {
    background-color: #f9f9f9; /* Color de fondo gris claro para filas impares */
}

/* Estilo para las filas pares de la tabla */
.ranking-table tr:nth-child(even) {
    background-color: #ffffff; /* Color de fondo blanco para filas pares */
}

/* Estilo para la barra de desplazamiento en Y */
.ranking-table-wrapper {
    max-height: 300px; /* Altura máxima para la barra de desplazamiento */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical cuando sea necesario */
}

/* Agrega un estilo para el contenedor con la barra de desplazamiento */
.scroll-container {
    max-height: 300px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Barra de desplazamiento vertical automática si el contenido excede la altura máxima */
    border: 1px solid #ccc; /* Borde para mayor claridad */
    padding: 10px; /* Agrega un espacio interno alrededor del contenido */
}
