/* Sticky footer styles-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

/* style.css */

/* Estilo para el contenedor principal */
.container {
    max-width: 960px; /* Ancho máximo del contenido */
    margin: 50px auto; /* Centrar el contenido y agregar un margen superior e inferior */
}

/* Estilo para los títulos */
h2 {
    color: #283048; /* Color de texto azul oscuro */
}

/* Estilo para los títulos */
h3 {
    color: #283048; /* Color de texto azul oscuro */
}

/* Estilo para las etiquetas 'span' dentro de los párrafos */
p span {
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los campos de entrada */
.form-control {
    border: 1px solid #ced4da; /* Borde gris */
    border-radius: 4px; /* Borde redondeado */
    padding: 10px; /* Agregar relleno */
}

/* Estilo para los labels */
.control-label {
    color: #283048; /* Color de texto azul oscuro */
}

/* Estilo para los mensajes de error */
.text-danger {
    color: #721c24; /* Color de texto rojo oscuro */
}

/* Estilo para el botón de envío */
.btn-primary {
    background-color: #283048; /* Color de fondo azul oscuro */
    border-color: #283048; /* Color del borde */
    color: #fff; /* Texto blanco */
    padding: 10px 20px; /* Agregar relleno */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Estilo para el botón de envío al pasar el ratón */
.btn-primary:hover {
    background-color: #1c2530; /* Color de fondo azul más oscuro */
    border-color: #1c2530; /* Color del borde más oscuro */
}

/* Clase para el ranking */
.ranking-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.ranking-table th, .ranking-table td {
    border: 1px solid #ced4da; /* Borde gris */
    padding: 10px; /* Agregar relleno */
    text-align: left;
}

.ranking-table th {
    background-color: #283048; /* Color de fondo azul oscuro */
    color: #fff; /* Texto blanco */
}

.ranking-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo gris claro para filas pares */
}

.ranking-table tr:hover {
    background-color: #ddd; /* Fondo gris más oscuro al pasar el ratón */
}
