<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/nav}"></nav>
<h2>Error!</h2>
<div>Estado: <span th:text="${status}"></span></div>
<div>Error: <span th:text="${error}"></span></div>
<div>Mensaje de error: <span th:text="${message}"></span></div>
<div>Traza:</div>
<pre th:text="${trace}"></pre>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>