<div class="container mx-auto" id="gameFrame">
    <h1 class="text-center" th:text="#{game.finish}"></h1>
    <p class="display-1 text-center">
        <span th:text="#{game.points}"></span>
        <b th:inline="text" th:text="${score}"></b>
    </p>

    <p class="display-1 text-center">
        <span th:text="#{game.points}"></span>
        <b th:inline="text" th:text="${multiplayerCode}"></b>
    </p>
    <img class="game-logo d-block mx-auto" th:src="${logoImage}">
    <div class="row text-center">
    </div>
    <script>
        $(document).ready(function () {
            $(".points").remove();
            $(".questionCounter").remove();
        });
    </script>
</div>