<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body>
<nav th:replace="~{fragments/nav}"/>
<div class="container">
    <h2 th:text="#{ranking.title}">Ranking</h2>
    <table class="ranking-table">
        <thead>
        <tr>
            <th scope="col" th:text="#{ranking.position}">Posición</th>
            <th scope="col" th:text="#{ranking.score}">Puntuación</th>
            <th scope="col" th:text="#{ranking.date}">Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game, iterStat : ${ranking}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${game.score}"></td>
            <td th:text="${#dates.format(game.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>
